*{
    margin: 0;
    padding: 0;
}
.target_bottom{
    width: 700px;
        height: 40px;
   background: aqua;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-wrap: wrap;
    transition-property: right;

}
.target_bottom_lines{
    width: 15px;
    height: 4px;
    background: #1d1d4b;
       margin: 0  5px 20px 2px;



}