.century {
    width: 900px;
    height: 700px;
    background: dimgray;
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(20, 1fr);
}

.winter {
    background: blue;
    grid-column: span 15;
    grid-row: span 2;

}

.today {
    grid-column: span 5;
    background: crimson;
    grid-row: span 14;
}
.today-2{
    grid-column-start: 14;
    grid-column-end: 16;
    background: #5f12d2;
    grid-row-start: 3;
    grid-row-end: 17;
}
.yesterday {
    grid-column: span 8;
    background: #e5e10d;
    grid-row: span 7;
}
.yesterday-2 {
    grid-column: span 8;
    background: #0da425;
    grid-row: span 7;
}

.month {
    grid-column: span 15;
    background: #1dc5bf;
    grid-row: span 4;
}