@media screen and (max-width: 360px) {
    body {
        margin: 0;
        padding: 0;
    }

    .navbar-brand img {
        display: none;
    }

    .april {

        padding-left: 150px;
        position: absolute;

    }

    .navbar {
        padding: 0;
    }

    .collapse {
        position: relative;
    }

    .month {
        padding: 0;
        position: relative;

    }

    .frog img {
        width: 135px;
        height: 47px;
        padding: 0;

    }

    .tuesday img {
        position: absolute;
        margin: 61px -46px;

    }

    .monday {
        text-align: end;
        position: absolute;
        left: 180px;
    }

    .monday ol {
        font-size: 10px;
        line-height: 12px;
        text-decoration-line: underline;
        color: #0F2438;

    }

    .beauteous {
        display: flex;
    }

    .form-control {
        width: 203px;
        height: 34px;
    }

    .ocean {
        margin-top: 70px;
    }

    .beautiful {
        width: 34px;
        height: 34px;


    }

    .beautiful img {
        width: 12px;
        height: 12px;
    }

    .still {
        margin: -34px 41px;
        padding: 0;
    }

    .cheerful {
        padding: 0;
        justify-content: center;
        position: relative;

    }

    .cheerful img {
        width: 290px;
        height: 195px;
    }

    .comely {
        font-size: 16px;
        line-height: 19px;
        transform: translate(9px, -32px);
    }

    .comely ol {
        font-size: 10px;
        line-height: 12px;
    }

    .darling {
        width: 124px;
        height: 34px;
    }

    .dishy {
        margin: 171px 0 0 0;
    }

    .circles_black,
    .circles_radius,
    .circles_white {
        width: 12px;
        height: 12px

    }

    .delikate img {
        max-width: 131px;
        height: 111px;
        transform: translate(-270px, 18px);
    }

    .cute s {
        font-size: 14px;
        line-height: 16px;

    }

    .charming {
        display: flex;
        flex-direction: column;

    }

    .eyeful {
        padding: 0;
        margin-top: 195px;
        display: flex;

    }

    .yet {
        margin: -60px 0 0 118px;
        padding: 0;

    }

    .graceful {
        margin: -5px 73px;
        vertical-align: center;
    }

    .graceful s {
        margin: 0;
        vertical-align: text-bottom;
    }

    .handsome {
        transform: translate(57px, -19px);

    }

    .lily {
        width: 320px;
        height: 180px;
        padding: 0;
        margin: 0;

    }
    .aster{
        padding: 0;
    }



    .daisy {
        width: 64px;
        height: 87px;
        position: absolute;
    }

    .rose {
        padding: 0;
    }

    .azalea {
        margin-top: 30px;
    }

    .sunflower {
        max-width: 164px;
        height: 46px;
    }

    .dandelion {
        width: 82px;
        height: 46px;
    }

    .snowdrop {
        max-width: 156px;
        height: 46px;
        margin: 0;
    }

    .water-lilly {
        padding: 0;
        margin: 0;
    }

    .bluebell img {
        max-width: 149px;
        height: 127px;
    }

    .chamomile {
        padding-top: 20px;
        margin: 0;
    }

    .lilac {
        max-width: 110px;
        height: 35px;
    }

    .cornflower,
    .cornflower_two{
        font-size: 12px;
        line-height: 17px;
    }
    .hyacinth_one,
    .cornflower_two{
        transform: translate(0px, -5px);
    }
    .plumeria_flower{
        transform: translate(0px, -29px);
    }
    .hydrangea_flowers{
        transform: translate(0px, -15px);
    }

    .marigold {
        transform: translate(13px, -0px);
    }

    .button_flowers {
        margin: 0;
    }

    .cornflower,
    .plumeria,
    .hydrangea,
    .plumeria_flower,
    .hydrangea_flowers,
    .hyacinth {
        margin: 0;
    }

    .hydrangea_flowers {
        padding: 0;
    }

    .pansy {
        width: 160px;
        height: 34px;
        margin-left: 80px;
    }

    .elder {
        padding-top: 20px;
    }

    .cypress {
        background: #0C1A2A;
        width: 340px;
        height: 1236px;
        text-align: left;
    }

    .maple {
        padding: 20px;
    }

    .the_end {
        transform: translate(8px, -27px);
    }

    .poplar {
        transform: translate(0px, -175px);
        text-align: left;
    }

    .yew {
        padding-top: 119px;
        font-size: 14px;
        line-height: 16px;
    }

    .simply {
        max-width: 190px;
        height: 34px;
        border: 1px solid #203246;
    }

    .acacia {
        margin: 0;
        padding: 0;
    }

    .walnut {
        margin: 0;
    }

    .radish {
        max-width: 91px;
        height: 34px;
        font-size: 12px;
        line-height: 14px;
    }

    .carrot {
        margin: 0;
        transform: translate(0px, -100px);
    }

    .garlic {
        margin: 0;
        transform: translate(-129px, 25px)
    }

    .larch {
        padding-right: 45px;
    }
}


