@media screen and (max-width: 400px){
    .d-sm-none{
        display: none !important;
    }
    .header__p span{
        display: none !important;
    }
    .navbar{
        display: flex;!important;
    }
    .January{
       flex-direction: column;!important;
        row-gap: 30px;!important;

    }




}