html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
    /*font-family: 'Roboto', sans-serif;*/
    font-family: 'Tinos', serif;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.first_Century {
    background: url("../Homework7/bg.png") no-repeat center/cover;
    min-width: 1440px;
    max-height: 800px;
}

.today{
    padding-top: 50px;
    margin-left: 165px;
    display: flex;
}
.today img{

}
.Yesterday {
    display: flex;
    flex-direction: row;
    align-content: center;
    column-gap: 23px;
    padding-left: 268px;
    align-items: flex-end;
}

.Month_one{
    border-right: 2px solid #FFFFFF;
    padding-right: 21px;

}

.Month_one img{
    width: 20px;
    margin: 50px 0 0 1px;

}
.Month a {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    text-decoration: none;

}

.phone {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;


}

.phone ol {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    padding-left: 5px;
}

.Tuesday {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    width: 157px;
    height: 47px;
    background: #FF7400;
}
.Wednesday{
    padding-top: 204px;
}
.Thursday{
    color: #D67E35;
    font-style: normal;
    font-weight: normal;
}
.Thursday h2{
    font-size: 50px;
    line-height: 57px;
    padding-left: 199px;
}
.Thursday h1{
    font-size: 80px;
    line-height: 92px;
    padding-left: 175px;

}
.Thursday p{
    font-size: 18px;
    line-height: 25px;
      color: #FFFFFF;
    margin-left: 271px;
}
.Friday{
    padding-top: 21px;
    margin-left: 359px;
}
.Saturday{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
      color: #FFFFFF;

    width: 137px;
    height: 47px;
       background: #FF7400;


}
.Thursday p::before,
.Thursday p::after{
    content: "";
    width: 61px;
    height: 2px;
    background: #FFFFFF;
    display: inline-block;


}
.Thursday p::before{
   margin: 0 8px 5px 8px;
}
.Thursday p::after{
    margin: 0 8px 5px 8px;
}
.Sunday{
    display: flex;
   padding-top: 124px;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}
.January{
    display: flex;
   justify-content: center;
    flex-direction: row;
    align-items: center;
    column-gap: 30px;
    text-align: center;
    /*padding-left: 166px;*/
}
.February{
    width: 349px;
    height: 328px;
    left: 166px;
    top: 693px;
    background: #FFFFFF;
    box-shadow: 10px 10px 40px 20px rgba(0, 0, 0, 0.1);
}
.February img{
    width: 126px;
    height: 104px;
}
.March{
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;
       color: #2C2C2C;
    display: inline-block;
}
.March span{
    color: #BC9060;
}
.April{
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;
    text-align: center;
    color: #656363;
    margin-top: 20px;
}